/*
	Color fondo: #632432;
	Color header: 246355;
	Color borde: 0F362D;
	Color iluminado: 369681;
*/
body{
	background-color: #95c8cf;
	font-family: Arial;
}

#main-container{
	margin: 150px auto;
	width: 600px;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}
#cargaEstudiante {background-color: #f44336;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    margin-left: 25px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
} /* Red */
#cargaJSON {background-color: #082864;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
 margin-left: 25px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
} /* Red */

#limpiar {background-color: #b4b234;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    margin-left: 25px;
    outline: none;
    color: #fff;
 
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
} /* Red */
th, td{
	padding: 20px;
}
.header  {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(74, 158, 133);
    font-size: 18;
    height: 80px;
   
  }
  nav{
    line-height: 2em;
       font-family: Times;
       list-style: none;
       font-size: larger;
       float:left;
       text-decoration: none;
       margin: 10px;
       font-weight: bold;
       color: rgb(230, 19, 19);
  }
  ul{
    text-align: center;
    align-items:flex-end;
  }
  li{
    list-style: none;
    
    font-size: larger;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
thead{
	background-color: #db9090;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 6; }
    .div2 { grid-area: 2 / 1 / 6 / 2;
    }
    .div3 { grid-area: 2 / 2 / 6 / 6; 
        }